<!-- 
    Root tag name is ignored, tag on which this control will be created, 
    will be considered for at runtime.
-->

<div
    atom-component="TaskList" 
    atom-view-model="{new Todo.TaskListViewModel() }">
    
    <div>
        <button atom-event-click="{ ()=> $viewModel.addTask() }">Add New Task</button>
    </div>

    <div 
        atom-type="AtomItemsControl"
        atom-items="{$viewModel.list}">
        <div atom-template="itemTemplate" style="width:400px; margin:5px; padding:5px; position:relative">

            <span atom-text="{$data.label}"></span>

            <button
                style="position:absolute; right:5px; top:5px; margin:0; padding:2px;"
                atom-type="AtomDeleteButton"
                atom-next="{ ()=> $viewModel.deleteTask($data)  }">Delete</button>
        </div>
    </div>

</div>