<!-- 
    Root tag name is ignored, tag on which this control will be created, 
    will be considered for at runtime.
-->

<div
    atom-component="TaskList" 
    atom-view-model="{new TaskListViewModel() }">
    
    <div>
        <input placeholder="Task..." atom-value="$[viewModel.newTask.label]"/>
        <button atom-event-click="{ ()=> $viewModel.addTask() }">Add</button>
    </div>

    <div 
        atom-type="AtomItemsControl"
        atom-items="{$viewModel.list}">
        <div atom-template="itemTemplate">

            <span atom-text="{$data.label}"></span>

            <button
                atom-type="AtomDeleteButton"
                atom-next="{ ()=> $viewModel.deleteTask($data)  }">Delete</button>
        </div>
    </div>

</div>