<!-- 
    Root tag name is ignored, tag on which this control will be created, 
    will be considered for at runtime.
-->

<div
    atom-type="AtomDockPanel"
    atom-component="TaskList" 
    atom-view-model="{new Todo.TaskListViewModel() }">
    
    <header style="height:40px">
        <button atom-event-click="{ ()=> $viewModel.addTask() }">Add New Task</button>
    </header>

    <div 
        atom-dock="Left"
        atom-type="AtomListBox"
        atom-items="{$viewModel.list}"
        atom-selected-item="$[viewModel.selectedTask]"
        style="width:500px">
        <div atom-template="itemTemplate" style="width:400px; margin:5px; padding:5px; position:relative">

            <span atom-text="{$data.label}"></span>

            <button
                style="position:absolute; right:5px; top:5px; margin:0; padding:2px;"
                atom-type="AtomDeleteButton"
                atom-next="{ ()=> $viewModel.deleteTask($data)  }">Delete</button>
        </div>
    </div>

    <section 
        atom-type="Todo.TaskEditor"
        atom-view-model="{ new Todo.TaskEditorViewModel()}"
        style-display="[ $viewModel.task ? '' : 'none' ]">
 
    </section>

</div>