<div atom-component="TaskEditor">

	<!-- Form layout is a special tag which generates fields -->

	<form-layout>

		<input 
			atom-label="Task:" 
			type="text" 
			atom-value="^[viewModel.task.label]" autofocus="autofocus"
			atom-error="[$viewModel.errors.label]" />
		

		<!-- We can reuse TaskStatusCombo that is another combo -->
		<select 
			atom-label="Status:"
			atom-type="Todo.TaskStatusCombo" 
			atom-value="$[viewModel.task.status]"
			atom-error="[$viewModel.errors.status]"></select>
		

		<textarea 
			atom-label="Description:"
			cols="30" 
			rows="10"
			atom-value="$[viewModel.task.description]"></textarea>


		<div
			atom-field-visibility="{ !$viewModel.windowName }">
			<button
				atom-event-click="{ () => $viewModel.save() }">Save</button>
		</div>
	</form-layout>

</div>