*{
    font-family: "Arial"
}

button, input, textarea{
    padding: 5px; margin: 5px;
}

.atom-form .atom-field label.atom-label{
    display: block;
}
.atom-form .atom-field input{
    margin:5px;
}    

.atom-form .atom-field input{
    width:100%;
}

.atom-form .atom-field textarea{
    width:100%;
}

.atom-form .atom-field .atom-error{
    font-size: smaller;
    color:red;
}