<script>
    import {TaskEditorViewModel} from "../../view-models/TaskEditorViewModel";
    import TaskEditor from "./TaskEditor";
</script>
<AtomWindow 
    view-model="{ this.resolve(TaskEditorViewModel) }"
    title="[ $viewModel.task.label ? ('Task ' + $viewModel.task.label) : 'Add New Task' ]"
    width="400px"
    height="400px">
    <div 
        template="windowTemplate">
        
        <TaskEditor></TaskEditor>

    </div>
    <div template="commandTemplate">
        <button event-click="{ () => $viewModel.save() }">Save</button>
        <button event-click="{ () => $viewModel.cancel() }">Cancel</button>
    </div>
</AtomWindow>