<script>
	import TaskStatusCombo from "./TaskStatusCombo";
	import { TaskEditorStyle } from "../styles/TaskEditorStyle";
</script>
<div
	default-style="TaskEditorStyle">
		<input 
			type="text" 
			value="^[viewModel.task.label]" autofocus="autofocus" />
		<span text="[$viewModel.errorLabel]"></span>
		

		<!-- We can reuse TaskStatusCombo that is another combo -->
		<TaskStatusCombo 
			value="$[viewModel.task.status]"></TaskStatusCombo>
		<span text="[$viewModel.errorStatus]"></span>
		

		<textarea 
			cols="30" 
			rows="10"
			value="$[viewModel.task.description]"></textarea>

		<div>
			<span text="[$viewModel.user.label]"></span>
			<button event-click="{ () => $viewModel.assign() }">Assign</button>
		</div>

		<div
			style-display="{ !$viewModel.windowName ? '' : 'none' }">
			<button
				style-class="{ this.controlStyle.saveButton }"
				event-click="{ () => $viewModel.save() }">Save</button>
		</div>

</div>