<script>
	import { TaskStatusCombo } from "./TaskStatusCombo";
</script>
<div>
		<input 
			type="text" 
			atom-value="^[viewModel.task.label]" autofocus="autofocus" />
		<span atom-text="[$viewModel.errorLabel]"></span>
		

		<!-- We can reuse TaskStatusCombo that is another combo -->
		<select 
			atom-type="TaskStatusCombo" 
			atom-value="$[viewModel.task.status]"></select>
		<span atom-text="[$viewModel.errorStatus]"></span>
		

		<textarea 
			cols="30" 
			rows="10"
			atom-value="$[viewModel.task.description]"></textarea>

		<div>
			<span atom-text="[$viewModel.user.label]"></span>
			<button atom-event-click="{ () => $viewModel.assign() }">Assign</button>
		</div>

		<div
			style-display="{ !$viewModel.windowName ? '' : 'none' }">
			<button
				atom-event-click="{ () => $viewModel.save() }">Save</button>
		</div>

</div>