<!-- 
    Root tag name is ignored, tag on which this control will be created, 
    will be considered for at runtime.
-->
<script>
    import { TaskListViewModel } from "../../view-models/TaskListViewModel";
    import { TaskEditorViewModel } from "../../view-models/TaskEditorViewModel";
    import { TaskEditor } from "./TaskEditor";
</script>
<div
    class="task-list"
    atom-type="AtomGridView"
    atom-columns="30%, 5, *"
    atom-rows="50, *"
    atom-view-model="{ this.resolve(TaskListViewModel) }">

    <header cell="0:3,0">
        <button atom-event-click="{ ()=> $viewModel.addTask() }">Add New Task</button>
    </header>

    <div atom-type="AtomGridSplitter" cell="1,1" direction="vertical"></div>

    <div
        cell="0,1"
        atom-dock="Left"
        atom-type="AtomListBox"
        atom-items="{$viewModel.list}"
        atom-selected-item="$[viewModel.selectedTask]">
        <div 
            atom-template="itemTemplate" 
            class="item">

            <span atom-text="{$data.label}"></span>

            <button
                event-click="{ ()=> $viewModel.deleteTask($data)  }">Delete</button>
        </div>
    </div>

    <section 
        cell="2,1"
        atom-type="TaskEditor"
        atom-view-model="{ this.resolve(TaskEditorViewModel) }"
        style-display="[ $viewModel.task ? '' : 'none' ]">
 
    </section>

</div>