<script>
	import {UserSelectorViewModel} from "../../view-models/UserSelectorViewModel";
</script>
<div view-model="{ this.resolve(UserSelectorViewModel) }">
	<div style="background: white; padding:5px; border: solid lightgray 1px;">

		<input
			autofocus="autofocus"
			value="^[viewModel.searchText]"/>

		<AtomItemsControl 
			style="padding:5px"
			items="[$viewModel.items]">
			<div 
				template="itemTemplate"
				event-click="{ () => $viewModel.select($data) }">
				<span text="{$data.label}"></span>
			</div>
		</AtomItemsControl>
	</div>
</div>